{{define "index"}}
    <!DOCTYPE html>
    <html lang="fr">
    <head>
        <meta charset="UTF-8">
        <title>TP utilisation spotify</title>
        <link href="/static/style.css" rel="stylesheet">
    </head>
    <body>
    <h1>TP utilisation spotify</h1>
    <div class="center">
        <a href="/album/jul"><span>JUL</span></a>
        <a href="/track/sdm"><span>SDM</span></a>
    </div>
    </body>
    </html>
{{end}}
